@page "/verification"
@layout LoginLayout
@using System.ComponentModel.DataAnnotations
@using BlazorGrpcWebApp.Client.Interfaces.Grpc
@using BlazorGrpcWebApp.Client.Interfaces.Rest
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IAppSettingsService AppSettingsService
@inject IAuthRestService AuthRestService
@inject IUserGrpcService GrpcUserService
@inject IToastService ToastService

<MudThemeProvider Theme="_loginTheme" />
 <MudGrid>
     <MudItem lg="12">
         <MudContainer Style="align-items:center; justify-content:center; display:flex; flex-direction:column">
             <MudImage Src="img/Babylon.js-logo.png" 
                       Alt="Logo" Elevation="25" 
                       Class="rounded-lg"
                       Width="150"
                       Height="100"
                       Style="margin-bottom: 35px"/>
             <MudText Typo="Typo.h5" 
                      Color="Color.Tertiary"  
                      Style="margin-bottom:20px; font-weight: 100;">
                      Device verification
             </MudText>
             <MudCard Style="width: 300px; padding: 16px; border-radius: 6px; border: 1px solid #21262d; background-color:#161b22">
                <MudForm Model="null"
                         @bind-IsValid="@success">
                    <MudElement HtmlTag="div" Style="display: flex; flex-direction:column; justify-content: center; align-items:center">
                        <MudIcon Icon="@Icons.Outlined.Email" Size="Size.Large"/>
                        <br/>
                        <MudText Typo="Typo.h5">Email</MudText>
                    </MudElement>
                    <br/>
                    <MudText Style="font-size:small; color:#c9d1d3; padding-bottom:2px" Class="txt-justify">
                        We've just sent your authentication code via email to p*******@@wp.pl. The code will expire at ...
                    </MudText>
                    <br/>
                    <MudText Style="font-size:small; color:#c9d1d3; padding-bottom:2px">
                        Device Verification Code
                    </MudText>
                    <MudTextField T="string"
                                  Variant="Variant.Outlined"
                                  Placeholder="XXXXXX"
                                  Validation="@(new Func<string, IEnumerable<string>>(ValidateVerificationCode))"
                                  @bind-Value="VerificationCode"
                                  Style="font-size:small; color:#c9d1d3;"/>
                    <br/>
                    <MudButton Variant="Variant.Filled" 
                               Style="text-transform: none; width: 100%; border-radius: 6px"
                               Color="Color.Secondary" 
                               Class="ml-auto"
                               Disabled="@(!success)"
                               OnClick="async () => await Verify()">
                               Verify
                    </MudButton>
                </MudForm>
             </MudCard>
         </MudContainer>
         <br/>
         <MudContainer>
            <div style="display:flex; align-items:center; justify-content:center;">
                <MudCard Style="width: 300px; padding: 16px; background-color: transparent; border: 1px solid #21262d; border-radius: 6px">
                    <div style="display: flex; flex-direction:column; justify-content:left">
                        <MudText Color="Color.Tertiary" Style="font-size:small">
                            Having trouble verifing via email?
                        </MudText>
                        <ul style="list-style-type:disc; padding-left: 15px; color:@Color.Info">
                            <li style="color:@Color.Info">
                                <MudLink Href="#" Color="Color.Info">
                                    <MudText Style="text-transform: none; font-size:small">
                                        Re-send the authentication code
                                    </MudText>
                                </MudLink>
                            </li>
                        </ul>    
                    </div>
                </MudCard>
            </div>
         <br/>
         </MudContainer>
         <MudContainer Style="display:flex; justify-content: center">
            <MudElement HtmlTag="div">
                <MudCard Style="width: 300px; padding: 16px; background-color: transparent; border-radius: 6px; box-shadow:none">
                    <MudText Style="font-size:small;" Class="txt-justify">
                        If you'd like to require verification on every sign in, consider enabling
                        <MudLink Href="#" Color="Color.Info" Style="text-transform: none; font-size:small">
                         two-factor authentication
                        </MudLink>
                        on your account.
                    </MudText>
                </MudCard>
            </MudElement>
         </MudContainer>
         <br/>
            <div style="display:flex; align-items:center; justify-content:center;">
                <MudCard Style="width: 300px; padding: 16px; background-color: transparent;">
                    <div style="display: flex; align-items: center; justify-content:center">
                        <MudLink Href="/register" Color="Color.Info">
                            <MudText Style="text-transform: none; font-size:11px">
                                Terms
                            </MudText>
                        </MudLink>
                        <MudSpacer/>
                        <MudLink Href="/register" Color="Color.Info">
                            <MudText Style="text-transform: none; font-size:11px">
                                Privacy
                            </MudText>
                        </MudLink>
                        <MudSpacer/>
                        <MudLink Href="/register" Color="Color.Info">
                            <MudText Style="text-transform: none; font-size:11px">
                                Security
                            </MudText>
                        </MudLink>
                        <MudSpacer/>
                        <MudLink Href="/register" Color="Color.Primary">
                            <MudText Style="text-transform: none; font-size:11px">
                                Contact Blazor Battles
                            </MudText>
                        </MudLink>
                    </div>
                </MudCard>
            </div>
     </MudItem>
 </MudGrid>

 <style>
    .mud-input {
        background-color: @_loginTheme.Palette.Background;
        height: 35px;
    }
    .mud-input-outlined-border {
        color: #21262d;
    }
    li::marker {
        color: #53a6ff;
    }
    .txt-justify {
        overflow-wrap: break-word;
        word-wrap: break-word; 
        -ms-word-break: break-all; 
        -ms-hyphens: auto; 
        -moz-hyphens: auto; 
        -webkit-hyphens: auto; 
        hyphens: auto;
    }
 </style>
    
@code {
    private readonly MudTheme _loginTheme = ThemesProvider.MudThemeProvider.CreateLoginMudTheme();
    private bool success = false;

    public string VerificationCode { get; set; }

    private IEnumerable<string> ValidateVerificationCode(string verificationCode)
    {
        //TODO: Complete
        if(string.IsNullOrEmpty(VerificationCode))
            yield return "Verification code is required";
        if (!string.IsNullOrEmpty(VerificationCode) && verificationCode.Length != 6)
            yield return "Verification code must be 6 characters long";
    }
}